<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="dashboard-fragments :: head"></head>
<body>

<div class="wrapper">
    <div th:replace="dashboard-fragments :: sidebar"></div>

    <div class="main-panel">
        <nav th:replace="dashboard-fragments :: nav"></nav>


        <div class="content">
            <div class="container-fluid">

                <div class="row card">

                    <div class="col-md-3"></div>

                    <div class="col-md-6">

                        <form class="form-group dashboard-form" th:object="${project}" method="post" action="/project/add">

                            <div class="text-center title-graphic">
                                <img th:src="@{/img/Meet-your-ClienTell.png}" alt="Meet your ClienTell" width="200">
                            </div>

                            <!-- standard form -->

                            <label th:for="*{name}"></label>
                            <input type="text" th:field="*{name}" placeholder="Project Name" class="form-control" />
                            <span th:errors="*{name}"></span>

                            <label th:for="*{projectType}"></label>
                            <select class="form-control" name="projectType" placeholder="Project Type">
                                <option th:each="projectType : ${projectTypes}"
                                        th:value="${projectType.id}"
                                        th:text="${projectType.name}"></option>
                            </select>

                            <label th:for="*{projectStatus}"></label>
                            <select class="form-control" name="projectStatus" placeholder="Project Status">
                                <option th:each="projectStatus : ${projectStatuses}"
                                        th:value="${projectStatus.id}"
                                        th:text="${projectStatus.name}"></option>
                            </select>

                            <label th:for="*{customer}"></label>
                            <select class="form-control" name="customer" placeholder="Customer Name">
                                <option th:each="customer : ${customers}"
                                        th:value="${customer.id}"
                                        th:text="${customer.fName + ' ' + customer.lName}"></option>
                            </select>

                            <label th:for="*{sales}"></label>
                            <input type="text" th:field="*{sales}" placeholder="Sales($)" class="form-control" />

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                            <br/>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Add Project</button>
                            </div>
                            <div class="clearfix"></div>

                        </form>
                    </div>

                    <div class="col-md-3"></div>

                </div><!--/ end row-->
            </div><!--/ end container-fluid-->
        </div><!--/ end content-->
        <footer th:replace="dashboard-fragments :: footer"></footer>
    </div><!--/ end main panel-->
</div><!--/ end wrapper-->

</body>

</html>
