<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="dashboard-fragments :: head"></head>
<body>

<div class="wrapper">
    <div th:replace="dashboard-fragments :: sidebar"></div>

    <div class="main-panel">
        <nav th:replace="dashboard-fragments :: nav"></nav>


        <div class="content">
            <div class="container-fluid">

                <!--left column-->
                <div class="col-lg-4 col-md-5">
                    <div class="card card-user">

                        <div class="image">
                            <img th:src="@{/img/background/background.jpg}" alt="..."/>
                        </div>

                        <div class="content">
                            <div class="author">
                                <img class="avatar border-white" th:src="@{/img/faces/face-2.jpg}" alt="..."/>
                                <br/>

                                <h4 class="title" th:if="${user.fName != null and user.lName != null}">
                                    <span th:text="${user.fName}">Chet </span>
                                    <span  th:text="${user.lName}">Faker</span><br />
                                    <a href="#"><small th:text="'@' + ${user.fName.toLowerCase()} + ${user.lName.toLowerCase()}">@chetfaker</small></a>
                                </h4>
                            </div>
                            <p class="description text-center">
                                "I like the way you work it <br/>
                                No diggity <br/>
                                I wanna bag it up"
                            </p>
                            <br/>
                        </div>
                    </div>
                </div><!--/end left column-->

                    <!--right column-->
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>

                            <div class="content">
                                <!--edit user profile form-->
                                <form method="post" th:object="${user}" action="/user/edit-profile">

                                    <!-- name -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label th:for="*{fName}">First Name</label>
                                                <input th:field="*{fName}" type="text" class="form-control border-input" placeholder="First Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label th:for="*{lName}">Last Name</label>
                                                <input th:field="*{lName}" type="text" class="form-control border-input" placeholder="Last Name" />
                                            </div>
                                        </div>
                                    </div>

                                    <!-- email, phone -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label th:for="*{email}">Email</label>
                                                <input th:field="*{email}" type="email" class="form-control border-input" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label th:for="*{phoneNumber}">Phone Number</label>
                                                <input th:field="*{phoneNumber}" type="tel" class="form-control border-input" placeholder="Phone Number" />
                                            </div>
                                        </div>
                                    </div>

                                    <!-- company name & website -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label th:for="*{company}">Company</label>
                                                <input th:field="*{company}" type="text" class="form-control border-input" placeholder="Company" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label th:for="*{website}">Website</label>
                                                <input th:field="*{website}" type="text" class="form-control border-input" placeholder="Website" />
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <input type="hidden" name="userId" th:value="*{id}"/>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>

                                </form>


                        </div>
                    </div>
                </div><!--/ end right column-->

                <p class="pull-right text-danger"
                   th:if="${(param.message != null)}">Profile updated.</p>

</div><!--/ end container-fluid-->
</div><!--/ end content-->
        <footer th:replace="dashboard-fragments :: footer"></footer>
</div><!--/ end main panel-->
</div><!--/ end wrapper-->

</body>

</html>
