<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="page-fragments :: head"></head>
<body>

<div class="wrapper">

    <nav th:replace="page-fragments :: sidebar"></nav>

    <div class="main-panel">

        <div th:replace="page-fragments :: nav"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="row">

                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">

                            <div th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>

                            <form class="form-group" th:object="${user}" method="post" th:action="@{user/login}">

                                <!--<label th:for="*{email}"></label>
                                <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />-->

                                <label th:for="*{username}"></label>
                                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" />


                                <label th:for="*{password}"></label>
                                <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />

                                <br/>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-info btn-fill btn-wd">Login</button>
                                </div>
                                <div class="clearfix"></div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:replace="page-fragments :: footer"></footer>
    </div>
</div>

</body>

</html>
