.logout input[type=submit]{
    border: 0px;
    background: rgba(0, 0, 0, 0);
}

.centered-block {
    display:flex;
    width:100%;
    min-height:70vh;
    justify-content:center;
    align-items:center;
    padding: 0 1em 0 1em;
}

.centered-form {
    display:block;
    width:100%;
    min-height:70vh;
    justify-content:center;
    align-items:center;
    padding: 7.5vh 5em 0 5em;
}

.dashboard-form {
    padding: 2em 2em 2em 2em;
}

.features {
    margin-left: 2em;
}

.homepage-background {
    background-image: url("/img/background/homepage-1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

#main-logo {
    margin-bottom: -3em;
}
