<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="dashboard-fragments :: head"></head>
<body>

<div class="wrapper">
    <div th:replace="dashboard-fragments :: sidebar"></div>

    <div class="main-panel">
        <nav th:replace="dashboard-fragments :: nav"></nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!--# of to-dos-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-warning text-center">
                                            <i class="ti-check-box"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Tasks</p>
                                            5
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--# of unread emails-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-email"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Unread</p>
                                            23
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-timer"></i> In the last hour
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--monthly revenue-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-wallet"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Revenue</p>
                                            $2,345
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-calendar"></i> Last day
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--storage-->
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-server"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p>Storage</p>
                                            100GB
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <hr />
                                    <div class="stats">
                                        <i class="ti-reload"></i> Updated now
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">

                    <!---->
                    <!--Project status analytics-->
                    <!---->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Project Overview</h4>
                                <p class="category">Monthly statistics by project status</p>
                            </div>
                            <div class="content">
                                <div id="chartProjectStatuses" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="chart-legend">

                                        <i class="fa fa-circle text-success"></i> Completed
                                        <i class="fa fa-circle text-info"></i> In Progress
                                        <i class="fa fa-circle text-primary"></i> Paid
                                        <i class="fa fa-circle text-warning"></i> Booked
                                        <i class="fa fa-circle text-danger"></i> Contacted
                                        <i class="fa fa-circle"></i> Lead
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-timer"></i> Updated 2 days ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end of project status analytics-->

                    <!---->
                    <!--Sales according to project type analytics-->
                    <!---->
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">2017 Sales</h4>
                                <p class="category">Monthly revenue by project types</p>
                            </div>
                            <div class="content">
                                <div id="chartMonthlySales" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="chart-legend">
                                        <i class="fa fa-circle text-info"></i> Branding
                                        <i class="fa fa-circle text-warning"></i> Web Design
                                        <i class="fa fa-circle text-success"></i> SEO
                                        <i class="fa fa-circle text-danger"></i> Customization
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="ti-check"></i> Updated yesterday
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--end of project type analytics-->
                </div> <!--end of section 2-->


            <!---->
            <!--Customer analytics: booked vs lost-->
            <!---->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Customers</h4>
                            <p class="category">Conversion rate</p>
                        </div>
                        <div class="content">
                            <div id="chartCustomers" class="ct-chart"></div>
                            <div class="footer">
                                <div class="chart-legend">
                                    <i class="fa fa-circle text-info"></i> Converted
                                    <i class="fa fa-circle text-danger"></i> Negotiating
                                    <i class="fa fa-circle text-warning"></i> Lost
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </div>


        <footer th:replace="dashboard-fragments :: footer"></footer>

    </div> <!-- /end main-panel-->
</div> <!-- /end wrapper-->
</body>

<script>


    <!-------------------------------------------------------------------->
    <!-- project status chart -->
    <!-------------------------------------------------------------------->

    Chartist.Pie('#chartProjectStatuses', {
        labels: ['30%','22%','6%', '10%', '15%', '13%'],
        series: [30, 22, 6, 10, 15, 13]
    });


    <!-------------------------------------------------------------------->
    <!-- sales chart according to project type-->
    <!-------------------------------------------------------------------->

    var data = {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      series: [
        [1542, 1543, 1520, 1680, 1653, 1753, 1326, 1540],
        [1230, 1293, 1880, 1480, 1503, 1553, 1600, 1769],
        [1600, 1054, 1360, 1480, 1603, 1766, 1025, 1325],
        [1342, 1390, 1657, 1408, 1350, 1403, 1530, 1650]
      ]
    };

    var options = {
        seriesBarDistance: 10,
        axisX: {
            showGrid: false
        },
        height: "245px"
    };

    var responsiveOptions = [
      ['screen and (max-width: 640px)', {
        seriesBarDistance: 5,
        axisX: {
          labelInterpolationFnc: function (value) {
            return value[0];
          }
        }
      }]
    ];

    Chartist.Line('#chartMonthlySales', data, options, responsiveOptions);




    <!-------------------------------------------------------------------->
    <!-- customer analytics chart -->
    <!-------------------------------------------------------------------->
        var dataSales = {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          series: [
             [87, 85, 90, 62, 94, 26, 98, 95],
            [67, 52, 93, 40, 87, 35, 35, 42],
            [23, 13, 67, 08, 90, 39, 07, 10]
          ]
        };

        var optionsSales = {
          lineSmooth: false,
          low: 0,
          high: 100,
          showArea: true,
          height: "245px",
          axisX: {
            showGrid: false,
          },
          lineSmooth: Chartist.Interpolation.simple({
            divisor: 3
          }),
          showLine: true,
          showPoint: false,
        };

        var responsiveSales = [
          ['screen and (max-width: 640px)', {
            axisX: {
              labelInterpolationFnc: function (value) {
                return value[0];
              }
            }
          }]
        ];

        Chartist.Line('#chartCustomers', dataSales, optionsSales, responsiveSales);

</script>

</html>