<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="dashboard-fragments :: head"></head>
<body>

<div class="wrapper">
    <div th:replace="dashboard-fragments :: sidebar"></div>

    <div class="main-panel">
        <nav th:replace="dashboard-fragments :: nav"></nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3"></div>

                    <div class="col-md-6">

                        <form class="form-group" th:object="${customer}" method="post" action="/customer/add">

                            <label th:for="*{fName}"></label>
                            <input type="text" th:field="*{fName}" placeholder="first name" class="form-control" />
                            <span th:errors="*{fName}"></span>

                            <label th:for="*{lName}"></label>
                            <input type="text" th:field="*{lName}" placeholder="last name" class="form-control" />
                            <span th:errors="*{lName}"></span>

                            <label th:for="*{email}"></label>
                            <input type="email" th:field="*{email}" placeholder="email" class="form-control" />
                            <span th:errors="*{email}"></span>

                            <label th:for="*{phoneNumber}"></label>
                            <input type="tel" th:field="*{phoneNumber}" placeholder="phone number" class="form-control" />
                            <span th:errors="*{phoneNumber}"></span>

                            <br/>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Add Customer</button>
                            </div>
                            <div class="clearfix"></div>

                        </form>
                    </div>

                    <div class="col-md-3"></div>

                </div><!--/ end row-->
            </div><!--/ end container-fluid-->
        </div><!--/ end content-->
        <footer th:replace="dashboard-fragments :: footer"></footer>
    </div><!--/ end main panel-->
</div><!--/ end wrapper-->

</body>

</html>
